[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pre-commit = "*"
python-dotenv = "*"
flask-jwt-extended = {extras = ["asymmetric_crypto"], version = "*"}

[dev-packages]
black = "*"
mypy = "*"

[requires]
python_version = "3.9"
