[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pre-commit = "*"
python-dotenv = "*"
flask-jwt-extended = {extras = ["asymmetric_crypto"], version = "*"}
flask-pydantic = "*"
flask-sqlalchemy = "*"
psycopg2 = "*"
passlib = "*"
email-validator = "*"
gunicorn = "*"
flask-migrate = "*"

[dev-packages]
black = "*"
mypy = "*"
pytest = "*"
pytest-mock = "*"

[requires]
python_version = "3.9"
